<div class="header">
    <div class="header-right">
    </div>
</div>

<!-- carrousel -->

<div class="container">        
        
          
    <div class="slide slide1 active ">
      <span></span> 
    </div>
    
    <div class="slide slide2">
    </div>
    
    <div class="slide slide3">
    </div>
    
    <div class="slide slide4">
    </div>
    
    <div class="slide slide5">
    </div>
    
    <div class="slide slide6">
    </div>  
</div>  

  <script>
      let i=0 ;
    
    $('.slide').click(function(){
       $('.active').addClass('nonActive').find('span').empty()
        $(this).removeClass('nonActive').addClass('active')
        i= $(this).index()
    })
    
    setItner = setInterval(go,4000);
    
    function go(){
       $('.active').addClass('nonActive').find('span').empty()
        $($('.slide')[i%6]).removeClass('nonActive').addClass('active')
        i++;
    }
  </script>

<!-- cards dias -->



<!-- carrousel ponentes-->

<div class="slider">
    <input type="radio" name="testimonial" id="t-1" />
    <input type="radio" name="testimonial" id="t-2" />
    <input type="radio" name="testimonial" id="t-3" checked />
    <input type="radio" name="testimonial" id="t-4" />
    <input type="radio" name="testimonial" id="t-5" />
    <div class="testimonials mb-8">
      <label class="item" for="t-1">
        <div class="mycard">
          <p class="cardtitle">Ferny Ruiz</p>
          <div>
            <img src="../../../assets/FERNY-RUIZ.jpg" alt="nivel5" class="cardimg" />
          </div>
          <div>
            <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
      <label class="item" for="t-2">
        <div class="mycard">
          <p class="cardtitle">Alfonso Martínez</p>
          <div>
            <img src="../../../assets/ALFONSO-MARTINEZ.jpg" alt="nivel5" class="cardimg" />
          </div>
          <div>
            <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
      <label class="item" for="t-3">
        <div class="mycard">
          <p class="cardtitle">Aaron Benitez</p>
          <div>
            <img src="../../../assets/AARON-BENITEZ.jpg" alt="nivel5" class="cardimg" />
          </div>
          <div>
            <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
      <label class="item" for="t-4">
        <div class="mycard">
          <p class="cardtitle">Jonathan Bazan</p>
          <div>
            <img src="../../../assets/JONATHAN-BAZAN.jpg" alt="nivel5" class="cardimg" />
          </div>
          <div>
            <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
      <label class="item" for="t-5">
        <div class="mycard">
          <p class="cardtitle">Jorge Abrams</p>
          <div>
            <img src="../../../assets/JORGE-ABRAMS.jpg" alt="nivel5" class="cardimg" />
          </div>
          <div>
            <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
          </div>
        </div>
      </label>
    </div>
    <div class="dots">
      <label for="t-1"></label>
      <label for="t-2"></label>
      <label for="t-3"></label>
      <label for="t-4"></label>
      <label for="t-5"></label>
    </div>
  </div>


  <!-- footer -->

  <div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="first">
                    <h4>My Skills</h4>
                    <p> Analytical Skills</p>
                    <p> Problem-solving skills</p>
                    <p> Critical-thinking skills</p>
                    <p> Detail-oriented</p>
                    <p> Multitasking</p>
                    <p> Self-motivated</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <h4> Navigate</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="third">
                    <h4> Contact</h4>
                    <ul>
                        <li>Andreea Mihaela Bunget </li>
                        <li></li>


                      <li><i class="far fa-envelope"></i> andreea@andreeabunget.co.uk</li>
                        <li><i class="far fa-envelope"></i> email@yahoo.com</li>


                      <li><i class="fas fa-map-marker-alt"></i> London, UK </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="line"></div>
                <div class="second2">
                    <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i class="fab fa-codepen fa-2x margin"></i></a>
                    <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                    <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                    <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

                </div>

            </div>
        </div>
        </div>
</div>